# Includes all common properties irrespective of any environment
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driverClassName: org.postgresql.Driver
    hikari:
      minimumIdle: 2
      maximumPoolSize: 4
      idleTimeout: 30000
      maxLifetime: 2000000
      connectionTimeout: 30000
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: false
        use_sql_comments: false
        format_sql: false
        temp:
          use_jdbc_metadata_defaults: false
        jdbc:
          lob: # Workaround for a compatibility issue of Spring Boot 2 with Hibernate and Postgres Driver. See https://github.com/spring-projects/spring-boot/issues/12007
            non_contextual_creation: true
    database-platform: org.hibernate.dialect.PostgreSQL95Dialect
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
    table: flyway_schema_history_boilerplate
    baseline-on-migrate: true
    baseline-version: "0"
  jackson:
    serialization:
      INDENT_OUTPUT: true
  data:
    web:
      pageable:
        default-page-size: 20
        max-page-size: 2000
---
management:
  endpoint:
    shutdown:
      enabled: true
    info:
      enabled: true
    httptrace:
      enabled: true
  trace:
    http:
      include:
        - REQUEST_HEADERS
        - RESPONSE_HEADERS
        - COOKIE_HEADERS
        - REMOTE_ADDRESS
  endpoints:
    web:
      exposure:
        include: "*"
---
#i18n settings start here
spring:
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

supportedLocales:
  - en_US
  - es
  - fr
#i18n settings end here
---
sort:
  user:
    default-param: firstName
    params:
      - firstName
      - lastName
      - email